*{
    margin: 0px;
}
.header-banner{
    background-color: lightpink;
    padding: 0px 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-banner-text{
    max-width: 50%;
}
.header-banner-text>h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.header-banner-text>p{
    font-size: 16px;
    margin-bottom: 20px;
}
.header-banner-text>button{
    height: 50px;
    width: 150px;
    background-color:#E55473 ;
    border: 0px;
    color: white;
}
.our-feautures{
    background-color: #ffffff;
    padding: 0px 165px;
    margin-bottom: 50px;
}
.our-feautures-text{
    text-align: center;
    margin-top: 100px;
}
.our-feautures-text>h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.photo-colleage{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 0px 165px;
}
.photo-colleage-total-1{
    height: 605px;
}
.photo-colleage-1{
    height: 565px;
    background-color: #E55473;
    display: flex;
    align-items: end;
    justify-content: center;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.photo-colleage-1-text{
    text-align: center;
    margin-top: 20px;
}
.photo-colleage-total-2{
    height: 605px;
}
.photo-colleage-2{
    height: 565px;
    background-color: #0597A0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.photo-colleage-2-text{
    text-align: center;
    margin-top: 20px;
}
.photo-colleage-total-3{
    height: 605px;
}
.photo-colleage-3{
    height: 565px;
    background-color: #477D11;
    display: flex;
    align-items: end;
    justify-content: center;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
}
.photo-colleage-3-text{
    text-align: center;
    margin-top: 20px;
}
.delivery-option-supports{
    height: 200px;
    background: lightgray;
    margin-top: 100px;
    padding: 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delivery-option-supports img{
    display: block;
    margin: 10px auto;
}
.hot-deals{
    height: 600px;
    padding: 0px 165px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.hot-deals-text{
    max-width: 600px;
}
.hot-deals-text>h1{
    font-size: 44px;
}
.hot-deals-text>p{
    text-align: center;
    margin-top: 20px;
}
.hot-deals-text>button{
    align-items: center;
    height: 50px;
    width: 150px;
    background-color:#E55473 ;
    border: 0px;
    color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.instagram-text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.instagram-text>h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.instagram-text>p{
    font-size: 16px;
    color: lightslategray;
}
.instagram-total-photocolleage{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 5px;
}
.instagram-photo-1{
    height: 350px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-photo-1>img{
    height: 350px;
    width: 290px;
}
.instagram-photo-2{
    height: 350px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-photo-2>img{
    height: 350px;
    width: 290px;
}
.instagram-photo-3{
    height: 350px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-photo-3>img{
    height: 350px;
    width: 290px;
}
.instagram-photo-4{
    height: 350px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram-photo-4>img{
    height: 350px;
    width: 290px;
}
.email{
    height: 400px;
    margin: 30px 165px;
    background-image: url(images/Rectangle\ 9.png);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email>.content>h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 48px;
}
.email>.content>p{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(137, 134, 134);
}
.email>.content>form>label{
    display: flex;
    gap: 20px;
}
.email>.content>form>label>input{
    display: block;
    margin: auto;
    height: 40px;
    width: 600px;
    border-radius: 3px;
    border: 0px ;
}
.email>.content>form>label>button{
    align-items: center;
    height: 40px;
    width: 150px;
    background-color:#E55473 ;
    border: 0px;
    color: white;
}
.footer{
    padding: 0px 165px;
    height: 300px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.footer-text>p{
    color: lightgray;
    text-align: center;
    margin-bottom: 10px;
}
.last{
    font-size: x-small;
}